/*import*/
@import 'css/header.css';

/*fonts*/
@import url(http://fonts.googleapis.com/css?family=League+Script);

@import url(http://fonts.googleapis.com/css?family=Halant:300,400);

body, html {
    padding:0em;
    margin:0em;
    list-style-type: none;
}

.menu ul li {
    font-family: 'League Script', cursive;
    font-size: 1.6em;
    display:inline;
    padding: 1em;
    width: 100%;
}

body section {
    text-align: center;
}

section h3, p {
	position: relative;
	top: 1.5em;
	padding-bottom: 2em;
}

section h3 {
    font-family: 'League Script', cursive;
    font-size: 2em;
    font-weight: 100;
}

section p {
    font-family: 'Halant', serif;
    font-size: 1.2em;
    line-height: 170%;
    padding-left: 14em;
    padding-right: 14em;
}

main section {
	padding-bottom: 5em;
}

/*welcome*/
.home {
    
}

/*Wedding Events*/
.Wedding-Events {
    
}

/*Flower-Subscriptions*/
.Flower-Subscriptions {
    
}

/*Our-Story*/
.Our-Story {
    
}

/*Blog*/
.Blog {
	
}

footer li {
    list-style-type: none;
    display: inline;
}