.banner p {
	position: absolute;
	width: 100%;
	top: 8em;
}

.banner p img {
	position: relative;
	width: 5%;
}

.banner h1 {
	position: absolute;
	width: 100%;
}

.instagram-banner {
	width: 100%;
	list-style-type:none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.instagram-banner li {
	width: 10%;
	float: left;
	background-color: black;
	opacity: .5;
}

.banner li img {
	width: 100%; 
	margin: 0; 
	padding: 0;
}
.banner li a {
	top: 0;
	left: 0; 
	margin: 0; 
	padding: 0;
	float: left;
}

.instagram-image img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.instagram-image.image-3, .instagram-image.image-8, .instagram-image.image-11 {
	width: 20%;
}

@media only screen and (max-width : 768px) {
 .instagram-header li {
	 width: 20%;
	 float: left;
 }
    
 .instagram-image.image-3, .instagram-image.image-8, .instagram-image.image-11{
	width: 10%;
	visibility: collapse;
}

}

@media (min-width: 400px;) {
.instagram-image.image-1, .instagram-image.image-2, .instagram-image.image-3, .instagram-image.image-4, .instagram-image.image-5, .instagram-image.image-6, .instagram-image.image-7, .instagram-image.image-8, .instagram-image.image-9, .instagram-image.image-10,
.instagram-image.image-11 {
	visibility: hidden;
	} 
}
